DirectoryIndex index.html
Options -MultiViews
CheckSpelling off
DirectorySlash Off
RewriteEngine on

# Redirect HTTP to HTTPS
RewriteCond %{HTTPS} off
RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]

# Restrict access to specific domain
RewriteCond %{HTTP_HOST} !jorgebruned.com$
RewriteRule (.*) - [F]

# Remove trailing slashes
RewriteRule ^(.*)/$ /$1 [L,R] # <- for test, for prod use [L,R=301]

# Add language query parameter
RewriteRule ^(en|es)$ /index.html?lang=\$1 [QSA,L]

# Ensure blog is redirected to blog.html and not the blog directory
# RewriteRule ^blog$ /blog.html [L]

# Rewrite URLs to .html if the file or directory does not exist
RewriteCond %{REQUEST_FILENAME} !-f
# RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} !\.html$
RewriteRule ^(.*)$ /$1.html [NC,L]

# Disable directory listing and protect specific files
Options All -Indexes
<Files "deployment_status.txt">
    Order Allow,Deny
    Deny from all
</Files>
