<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Metatags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="index, nofollow">
    <meta name="description" content="I am Jorge Bruned, a Computer Scientist who is passionate about Artificial Intelligence and Software Development">
    <meta name="keywords" content="Jorge Bruned, Jorge Bruned Alamán, Pamplona, Huesca, Aragón, estudiante, ingeniería informática, informática, computer science, inglés, Universidad Pública de Navarra, UPNA, inteligencia artificial, IA, AI, ML, machine learning, data mining, aprendizaje automático, minería de datos, visión artificial, computer vision, desarrollo web, desarrollo Android, bases de datos, Spain, TU Delft, computer engineering, english, artificial intelligence, deep learning, data scientist, MLOps developer, DL, computer vision, desarrollo web, web development, Android development, desarrollo Android, bases de datos, databases">
    <meta name="author" content="Jorge Bruned">
    <meta name="canonical" content="https://jorgebruned.com/">
    <link rel="alternate" hreflang="en" href="https://jorgebruned.com/en">
    <link rel="alternate" hreflang="es" href="https://jorgebruned.com/es">
    <title>Jorge Bruned | Currículum Vitae</title>
    <link rel="shortcut icon" type="image/ico" href="/assets/img/favicon.ico?{{ hashes.icon if hashes and hashes.icon }}">
    <!-- CSS styles -->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans:300,300italic,400,400italic,600,600italic,700,700italic,800,800italic">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/style.css?{{ hashes.style if hashes and hashes.style }}">
</head>
<body data-bs-spy="scroll" data-bs-target="#navbar" data-bs-offset="222">
    <header id="top">
        <div class="navbar navbar-expand-lg mibg navbar-dark navbar-top fixed-top" id="header">
            <div class="container px-4 animate-down">
                <a class="navbar-brand" href="#top">Jorge Bruned</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Abrir/cerrar menú"><span class="navbar-toggler-icon"></span></button>
                <nav class="collapse navbar-collapse" id="navbar">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <a class="nav-link active" href="#top">
                                <i class="icon-user-outline top-only"></i>
                                <span data-string="about_me">Sobre mí</span>
                                <div class="nav-under"></div>
                            </a>
                        </li>
                        <li class="nav-item"><a class="nav-link" href="#estudios"><span data-string="education">Educación</span><div class="nav-under"></div></a></li>
                        <li class="nav-item"><a class="nav-link" href="#experiencia"><span data-string="experience">Experiencia</span><div class="nav-under"></div></a></li>
                        <li class="nav-item"><a class="nav-link" href="#portfolio"><span data-string="projects">Proyectos</span><div class="nav-under"></div></a></li>
                        <li class="nav-item"><a class="nav-link" href="#skills"><span data-string="knowledge">Conocimientos</span><div class="nav-under"></div></a></li>
                        <!-- <li class="nav-item scrolling-only"><a class="nav-link" href="#contact"><span data-string="contact">Contacto</span><div class="nav-under"></div></a></li> -->
                        <li class="nav-item">
                            <a class="nav-link" href="/blog">
                                <i class="icon-blog top-only"></i>
                                <span data-string="blog">Blog</span>
                                <div class="nav-under"></div>
                            </a>
                        </li>
                        <li class="nav-item top-only">
                            <a class="nav-link" href="https://github.com/jbruned/personal-web" target="_blank">
                                <i class="icon-github top-only"></i>
                                <span data-string="source">Código fuente</span>
                                <div class="nav-under"></div>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link nav-link-icon no-print top-only" data-bs-toggle="modal" data-bs-target="#pdf-modal">
                                <i class="icon-download"></i>
                            </a>
                        </li>
                        <li>
                            <div class="lang-switch">
                                <input id="lang-switch" class="check-toggle check-toggle-round-flat" type="checkbox">
                                <label for="lang-switch"></label>
                                <span class="on">ES</span>
                                <span class="off">EN</span>
                            </div>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="header-bg"></div>
    </header>
    <main>
        <div class="container">
            <section id="about" class="animate-up">
                <div class="section-box">
                    <div class="row p-5">
                        <div class="col-sm-5 align-middle">
                            <img src="/assets/img/jbruned_square.jpg" alt="Jorge Bruned" class="pe-sm-3 mb-3 mb-sm-0">
                        </div>
                        <div class="col-sm-7">
                            <h1 class="profile-title">Jorge Bruned Alamán</h1>
                            <h2 class="profile-position" data-string="role_short">Ingeniero Informático</h2>
                            <ul>
                                <li>
                                    <strong class="title" data-string="age">Edad</strong>
                                    <span class="cont">
                                        <script>document.write(Math.floor((new Date() - new Date('2000/10/28')) / 31556952000))</script>
                                        <span data-string="years_old">años</span> <small>(28/10/2000)</small></span>
                                </li>
                                <li>
                                    <strong class="title" data-string="occupation">Ocupación</strong>
                                    <span class="cont" data-string="role">
                                        Desarrollador de software y estudiante del Máster en Ingeniería Informática en la UPNA
                                    </span>
                                </li>
                                <li>
                                    <strong class="title" data-string="email">E-mail</strong>
                                    <span class="cont">
                                        <a class="mailto_link" rel="noreferrer"><span data-string="email_addr">******</span><small>@</small>jorgebruned.com</a>
                                    </span>
                                </li>
                                <li>
                                    <strong class="title" data-string="location_title">Ubicación</strong>
                                    <span class="cont" data-string="location_content">Sabiñánigo (Huesca)<br>Pamplona (Navarra)</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <a class="btn icon-btn section-btn mibg no-print" href="#btn-scroll" id="btn-scroll">
                        <i class="icon-down"></i>
                    </a>
                </div>
                <div class="px-3 pt-4" id="welcome">
                    <p class="txt-center" data-string="welcome">
                        ¡Hola! Soy Jorge Bruned, Ingeniero Informático y estudiante del Máster en Ingeniería Informática en la Universidad Pública de Navarra
                    </p>
                    <p data-string="welcome_2" class="mb-0 justified">
                        Dentro de mi carrera universitaria me especialicé en el área de Inteligencia Artificial, aunque también me apasiona el Desarrollo de Software.
                        Entre mis proyectos más destacables hasta la fecha destacan la creación de una aplicación web a medida para una PYME y
                        mi Trabajo de Fin de Grado sobre Active Learning (una técnica de Machine Learning), además de diversos proyectos en el ámbito universitario
                        (tanto individualmente como en entornos de trabajo grupal): detector de señales, aplicaciones distribuidas...
                    </p>
                </div>
                <div class="only-print m-5 text-center">
                    <p class="text-center p-5" data-string="pdf_version_warning" style="font-size: 14px;">
                        Te recomiendo acceder a mi currículum a través de <a href="https://jorgebruned.com">jorgebruned.com</a>,<br>
                        donde siempre encontrarás la versión más actualizada, y podrás consultarlo de forma interactiva.
                    </p>
                </div>
            </section>

            <!-- ESTUDIOS -->
            <section id="estudios" class="section section-education">
                <div class="animate-up">
                    <h2 class="section-title" data-string="education">Educación</h2>
                    <div class="timeline">
                        <div class="timeline-bar"></div>
                        <div class="timeline-inner clearfix mb-5">
                            <div class="timeline-box timeline-box-compact timeline-box-left">
                                <span class="dot"></span>
                                <div class="timeline-box-inner animate-right">
                                    <span class="arrow"></span>
                                    <div class="date"><span>2016 - 2018</span></div>
                                    <h3 data-string="bach_title">Bachillerato de Ciencias y Tecnología</h3>
                                    <h4>IES San Alberto Magno | <span class="text-nowrap" data-string="sabi">Sabiñánigo (Huesca)</span></h4>
                                    <hr>
                                    <p data-string="bach_content">Plan de estudios propio de una Ingeniería con asignaturas como Física, Dibujo Técnico y Tecnología.</p>
                                    <span style="font-weight: bold" data-string="results">Resultados</span>
                                    <ul>
                                        <li><span data-string="avg_score">Nota media</span>: 9.1</li>
                                        <li data-string="bach_honors">Matrícula de Honor de Bachillerato</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="timeline-box timeline-box-compact timeline-box-right">
                                <span class="dot"></span>
                                <div class="timeline-box-inner animate-left">
                                    <span class="arrow"></span>
                                    <div class="date"><span>2018 - 2022</span></div>
                                    <h3 data-string="bsc_title">Grado en Ingeniería Informática (Programa Internacional)</h3>
                                    <h4 data-string="upna">Universidad Pública de Navarra</h4>
                                    <hr>
                                    <p data-string="bsc_track">Mención de Computación y Sistemas Inteligentes</p>
                                    <span style="font-weight: bold" data-string="results">Resultados</span>
                                    <ul>
                                        <li><span data-string="bsc_extraord_pre">Premio extraordinario de grado al</span> <u data-string="bsc_extraord_bold">mejor expediente</u> <span data-string="bsc_extraord_post">de Ingeniería Informática</span></li>
                                        <li><span data-string="avg_score">Nota media</span>: 9.0</li>
                                        <li>19 <span data-string="cum_laudes">matrículas de honor</span></li>
                                    </ul>
                                    <span style="font-weight: bold" data-string="bsc_thesis">Trabajo de Fin de Estudios</span>
                                    <q style="display:block">A review of Active Learning methods for classification problems</q>
									<ul>
                                        <li><u><span data-string="research_on">Investigación en</span> Active Learning</u>, <span data-string="active_learning_desc">una técnica aplicable a Machine Learning cuando no se dispone de suficientes datos etiquetados</span></li>
                                        <li><span data-string="tfg_nota">Calificación: 10.0 (matrícula de honor)</span></li>
                                    </ul>
                                    <span style="font-weight: bold" data-string="internationalization">Internacionalización</span>
                                    <p data-string="bsc_internat">
                                        Programa Internacional en Inglés (parte de la carrera cursada en dicho idioma).
                                        Participación en Programa de Movilidad Internacional (TU Delft).
                                    </p>
                                </div>
                            </div>
                            <div class="timeline-box timeline-box-compact timeline-box-left">
                                <span class="dot"></span>
                                <div class="timeline-box-inner animate-right">
                                    <span class="arrow"></span>
                                    <div class="date"><span>2019 - 2021</span></div>
                                    <h3 data-string="vg_title">Diploma de Especialización en Desarrollo de Videojuegos y Aplicaciones de Realidad Virtual</h3>
                                    <h4 data-string="upna">Universidad Pública de Navarra</h4>
                                    <hr>
                                    <p data-string="vg_content">Título Propio de la universidad impartido a lo largo de 6 semestres.</p>
                                    <span style="font-weight: bold" data-string="vg_knowledge">Conocimientos adquiridos</span>
                                    <ul>
                                        <li data-string="vg_knowledge_1">Programación de Videojuegos (Unity, Unreal...)</li>
                                        <li data-string="vg_knowledge_2">Física de los Videojuegos</li>
                                        <li data-string="vg_knowledge_3">Modelado y Animación 3D (Maya, Blender...)</li>
                                        <li data-string="vg_knowledge_4">Inteligencia Artificial en los Videojuegos</li>
                                        <li data-string="vg_knowledge_5">Pipeline, Guión y Producción de Videojuegos</li>
                                        <li data-string="vg_knowledge_6">Desarrollo de Aplicaciones Nativas (Android, iOs)</li>
										<li data-string="vg_knowledge_7">Desarrollo de Aplicaciones de Realidad Virtual</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="timeline-box timeline-box-compact timeline-box-right">
                                <span class="dot"></span>
                                <div class="timeline-box-inner animate-left">
                                    <span class="arrow"></span>
                                    <div class="date"><span>2022</span></div>
                                    <h3 data-string="eras_title">Master Computer Science</h3>
                                    <h4>Delft University of Technology</h4>
                                    <hr>
                                    <p data-string="eras_content">Programa de Intercambio Erasmus como parte del Grado en Ingeniería Informática.</p>
									<span style="font-weight: bold" data-string="eras_courses">Asignaturas cursadas</span>
                                    <ul>
                                        <li data-string="eras_courses_1">Deep Learning</li>
                                        <li data-string="eras_courses_2">Seguridad en Redes</li>
                                        <li data-string="eras_courses_3">IoT y Redes Locales</li>
                                        <li data-string="eras_courses_4">Lenguajes de Programación Web</li>
                                    </ul>
                                </div>
                            </div>
							<div class="timeline-box timeline-box-compact timeline-box-left">
                                <span class="dot"></span>
                                <div class="timeline-box-inner animate-right">
                                    <span class="arrow"></span>
                                    <div class="date"><span>2022 - 2024</span></div>
                                    <h3 data-string="msc_title">Máster Universitario en Ingeniería Informática</h3>
                                    <h4 data-string="upna">Universidad Pública de Navarra</h4>
                                    <hr>
                                    <p data-string="msc_currently">
                                        Actualmente estoy cursando este máster en modalidad dual, mientras trabajo a tiempo parcial, lo cual me parece una forma excelente de combinar el enfoque más teórico de la universidad con aprender en base a experiencias reales en una empresa.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="animate-up" id="certificaciones">
                    <h3 class="fw-bold mt-3" data-string="certs">Idiomas y otras certificaciones</h3>
                    <ul>
                        <li>
                            <h4>Certificate in Advanced English <small>(CEFR C1)</small></h4>
                            <p><i class="icon-location"></i>University of Cambridge</p>
                            <p><i class="icon-calendar-check"></i>2021</p>
                        </li>
                        <li>
                            <h4>Deep Learning Specialization</h4>
                            <p><i class="icon-location"></i>Coursera</p>
                            <p><i class="icon-calendar-check"></i>2021</p>
                        </li>
                        <li>
                            <h4>English Advanced Level <small>(CEFR C1)</small></h4>
                            <p><i class="icon-location"></i><span data-string="eoi_sabi">Escuela Oficial de Idiomas de Sabiñánigo</span></p>
                            <p><i class="icon-calendar-check"></i>2019</p>
                        </li>
                        <li>
                            <h4>Permiso B <small data-string="driving_license">(carnet de conducir)</small></h4>
                            <p><i class="icon-location"></i><span data-string="dgt_hue">DGT de Huesca</span></p>
                            <p><i class="icon-calendar-check"></i>2019</p>
                        </li>
                        <li>
                            <h4 data-string="clarinet">Enseñanzas Profesionales de Clarinete</h4>
                            <p><i class="icon-location"></i><span data-string="cpm_sabi">Conservatorio Profesional de Música de Sabiñánigo</span></p>
                            <p><i class="icon-calendar-check"></i>2017</p>
                        </li>
                    </ul>
                </div>
            </section>

            <!-- EXPERIENCIA -->
            <section id="experiencia" class="section section-experience">
                <div class="animate-up">
                    <h2 class="section-title" data-string="experience">Experiencia</h2>
                    <p class="txt-center subtitle" data-string="experience_brief">
                        Aunque mi trayectoria en el sector está todavía en sus comienzos, he llevado a cabo diversos trabajos, siempre con la mirada puesta en aprender y ampliar mis horizontes
                    </p>
                </div>
                <div class="timeline">
                    <div class="timeline-bar"></div>
                    <div class="timeline-inner clearfix">
                        <div class="timeline-box timeline-box-left">
                            <span class="dot"></span>
                            <div class="timeline-box-inner animate-right">
                                <span class="arrow"></span>
                                <div class="date"><span data-string="m_apr">Abril</span> 2018 - <span data-string="m_jan">Enero</span> 2022</div>
                                <h3>Frutas Bruned, S.L.</h3>
                                <h4 data-string="fb_role">Técnico de Informática</h4>
                                <p data-string="fb_content">
                                    Durante varios años he realizado diversas labores esporádicas de instalación, despliegue y mantenimiento de hardware y software en esta PYME,
                                    lo cual me ha aportado una visión de las necesidades reales de una empresa y me ha permitido enfrentarme a problemas del mundo real
                                </p>
                                <p class="mb-0" data-string="fb_tasks">Entre las labores que he realizado destacan:</p>
                                <ul>
                                    <li>
                                        <span class="d-block" data-string="fb_tasks_1">
                                            Desplegar una red local a 1Gbps mediante cableado Cat6 en una nave industrial, servidor DHCP, redes WiFi, servidor de archivos NAS, etc.
                                        </span>
                                        <a class="btn btn-upper p-2 mibg m-3" data-bs-toggle="modal" data-bs-target="#portfolio-details-lan"><i class="me-1 icon-plus"></i><span data-string="project_info">Info del proyecto</span></a>
                                    </li>
                                    <li>
                                        <span class="d-block" data-string="fb_tasks_2">
                                            Desarrollar desde cero una aplicación web para la venta de productos de alimentación online, con el foco puesto en crear una solución a medida.
                                        </span>
                                        <a class="btn btn-upper p-2 mibg m-3" data-bs-toggle="modal" data-bs-target="#portfolio-details-app_fb"><i class="me-1 icon-plus"></i><span data-string="project_info">Info del proyecto</span></a>
                                    </li>
                                    <li>
                                        <span class="d-block" data-string="fb_tasks_3">
                                            Instalar una red CCTV de videovigilancia con cámaras analógicas conectadas mediante cableado UTP y cámaras IP en las distintas sucursales de la empresa.
                                        </span>
                                        <a class="btn btn-upper p-2 mibg m-3" data-bs-toggle="modal" data-bs-target="#portfolio-details-cctv"><i class="me-1 icon-plus"></i><span data-string="project_info">Info del proyecto</span></a>
                                    </li>
                                    <li data-string="fb_tasks_4">
                                        Instalación y configuración de equipos y redes, resolución de incidencias, etc.
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="timeline-box timeline-box-right">
                            <span class="dot"></span>
                            <div class="timeline-box-inner animate-left">
                                <span class="arrow"></span>
                                <div class="date"><span data-string="m_sep">Septiembre</span> 2021 - <span data-string="m_jan">Enero</span> 2022</div>
                                <h3>Neuraptic AI</h3>
                                <h4>Data Scientist & MLOps Developer</h4>
                                <p data-string="neuraptic_1">
                                    Durante un semestre como estudiante en prácticas, tuve la oportunidad de ver cómo se pueden aplicar soluciones inteligencia artificial a problemas reales.
                                    Algunas de mis tareas fueron realizar réplicas de proyectos realizados anteriormente por la empresa e implementar algunas mejoras.
                                </p>
                                <p data-string="neuraptic_2" class="mb-2">
                                    Al final de mis práticas, comencé la investigación necesaria para mi TFG en el campo de Active Learning, un campo relativamente nuevo dentro de Machine Learning;
                                    el cual me ha permitido estudiar, implementar y aplicar algunos de los modelos más recientes de la literatura.
                                </p>
                                <a class="btn btn-upper p-2 mibg m-3" data-bs-toggle="modal" data-bs-target="#portfolio-details-active_learning"><i class="me-1 icon-plus"></i><span data-string="project_info">Info del proyecto</span></a>
                            </div>
                        </div>
                        <div class="timeline-box timeline-box-right">
                            <span class="dot"></span>
                            <div class="timeline-box-inner animate-left">
                                <span class="arrow"></span>
                                <div class="date"><span data-string="m_sep">Septiembre</span> 2022 - <span data-string="present">Presente</span></div>
                                <h3>Veridas</h3>
                                <h4>Machine Learning Engineer</h4>
                                <p data-string="veridas_2">
                                    Actualmente estoy trabajando a tiempo parcial como ingeniero de Machine Learning centrado en modelos de visión artificial mientras estudio el Máster en Ingeniería Informática. El proyecto que estoy llevando a cabo conformará mi Trabajo de Fin de Máster.
                                </p>
                                <hr>
                                <h4>Frontend Developer (2022-2023)</h4>
                                <p data-string="veridas_1" class="mb-0">
                                    Durante mi primer año trabajé a tiempo parcial como desarrollador frontend de aplicaciones nativas mientras estudiaba el primer curso del Máster en Ingeniería Informática. Algunas de mis tareas fueron:
                                </p>
                                <ul>
                                    <li data-string="veridas_1_1">Desarrollo de librerías y SDKs para Android, conocimientos avanzados de Kotlin y Gradle</li>
                                    <li data-string="veridas_1_2">Creación de aplicaciones con arquitectura MVVM e inyección de dependencias</li>
                                    <li data-string="veridas_1_3">Uso de pipelines CI/CD, control de versiones compartido, MRs, metodologías ágiles, etc.</li>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <!-- PROYECTOS -->
            <section id="portfolio" class="section-portfolio animate-up">
                <h2 data-string="portfolio">Portafolio</h2>
                <p class="txt-center subtitle">
                    <span data-string="portfolio_brief">He aquí algunos de mis proyectos más destacables</span><span class="only-print" data-string="more_info_web">.<br>
                        Se puede encontrar más información sobre ellos en mi página web.</span>
                </p>
                <div class="filter">
                    <div class="filter-inner">
                        <div class="filter-btn-group">
                            <button class="portfolio-filter" data-filter="*" data-string="tag_all">Todos</button>
                            <button class="portfolio-filter" data-filter=".sw" data-string="tag_soft">Desarrollo de software</button>
                            <button class="portfolio-filter" data-filter=".ia" data-string="tag_ai">Inteligencia artificial</button>
                            <button class="portfolio-filter" data-filter=".hw" data-string="tag_hw">Hardware y redes</button>
                        </div>
                        <div class="filter-bar">
                            <span id="portfolio-tag-indicator" class="filter-bar-line"></span>
                        </div>
                    </div>
                </div>
                <div class="grid">
                    {% for project in projects %}
                    <div class="grid-item grid-item-small {{ project.cat_id }}">
                        <div class="grid-box">
                            <figure class="portfolio-figure">
                                <img data-lazy-src="{{ project.thumbnail }}" alt="{{ project.title.static_value }}">
                                <figcaption class="portfolio-caption">
                                    <div class="portfolio-caption-inner">
                                        <h3 class="portfolio-title" data-string="{{ project.title.string_id }}">{{ project.title.static_value }}</h3>
                                        {% if project.category %}
                                        <h4 class="portfolio-cat" data-string="{{ project.category.string_id }}">{{ project.category.static_value }}</h4>
                                        {% endif %}
                                        <p class="text-center mb-2">
                                            <a class="btn btn-upper mibg" data-bs-toggle="modal" data-bs-target="#portfolio-details-{{ project.id }}"><i class="me-1 icon-info"></i><span data-string="project_info">Ver proyecto</span></a>
                                        </p>
                                    </div>
                                </figcaption>
                            </figure>
                        </div>
                    </div>
                    <div class="modal fade" id="portfolio-details-{{ project.id }}" tabindex="-1" aria-labelledby="portfolio-details-{{ project.id }}-title" aria-hidden="true">
                        <div class="modal-dialog modal-fullscreen-md-down modal-dialog-scrollable">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <p class="modal-title" id="portfolio-details-{{ project.id }}-title" data-string="{{ project.title.string_id }}">{{ project.title.static_value }}</p>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="media-container">
                                    {% if project.is_media_iframe %}
                                    <iframe data-lazy-src="{{ project.media }}" title="{{ project.title.static_value }}" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>Cargando</iframe>
                                    {% else %}
                                    <img data-lazy-src="{{ project.media }}" alt="{{ project.title.static_value }}">
                                    {% endif %}
                                </div>
                                <div class="modal-body">
                                    <div data-string="{{ project.html.string_id }}" class="html-content">
                                        {{ project.html.static_value }}
                                    </div>
                                    {% if project.technologies and project.technologies|length > 0 %}
                                    <p><b data-string="used_technologies">Tecnologías utilizadas:</b><br>{{ project.technologies|join(', ') }}</p>
                                    {% endif %}
                                </div>
                                {% if project.url %}
                                <div class="modal-footer">
                                    <a href="{{ project.url }}" rel="noreferrer" target="_blank" class="btn btn-upper mibg text-white"><i class="me-1 icon-web"></i><span data-string="{{ project.btn_text.string_id }}">{{ project.btn_text.static_value }}</span></a>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </section>

            <!-- APTITUDES -->
            <section id="skills" class="animate-up">
                <h2 data-string="knowledge">Conocimientos</h2>
                <p class="txt-center subtitle" data-string="knowledge_brief">A continuación enumero una serie de aptitudes y destrezas que considero que soy capaz de llevar a cabo de forma satisfactoria</p>
                <div class="section-box p-5">
                    {% for section in skills %}
                    <h3 class="fw-bold" data-string="{{ section.title.string_id }}">{{ section.title.static_value }}</h3>
                    <div class="row">
                        {% for skill in section.skills %}
                        <div class="col-sm-6{% if section.skills|length > 2 %} col-lg-4 col-print-4{% endif %}">
                            <div class="knowledge-bar">
                                <div class="bar-data">
                                    <span class="bar-title" data-string="{{ skill.name.string_id }}">{{ skill.name.static_value }}</span>
                                    {%if skill.level %}
                                    <span class="bar-value" data-string="{{ skill.level.string_id }}">{{ skill.level.static_value }}</span>
                                    {% endif %}
                                </div>
                                <div class="bar-line">
                                    <span class="bar-fill" data-width="{{ skill.percent or '100' }}%"></span>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    {% endfor %}
                </div>
            </section>

            <!-- CONTACTO -->
            <section id="contact">
                <div class="animate-up">
                    <h2 class="section-title" data-string="contact_me">¡Contáctame!</h2>
                    <p class="txt-center subtitle" data-string="contact_brief">No dudes en ponerte en contacto conmigo a través de correo electrónico o LinkedIn.</p>
                    <div class="text-center h5 text-secondary">
                        <a class="mailto_link" rel="noreferrer" target="_blank" style="color: inherit !important;" title="contacto@jorgebruned.com" data-bs-toggle="tooltip" data-bs-placement="bottom"><i class="h2 icon-mail-solid" title="Email" onmouseover="this.title=''"></i></a>
                        <a href="https://www.linkedin.com/in/jorge-bruned-alam%C3%A1n-439a4762/" rel="noreferrer" target="_blank" style="color: inherit !important;" title="Jorge Bruned Alamán" data-bs-toggle="tooltip" data-bs-placement="bottom"><i class="h2 icon-linkedin" title="LinkedIn" onmouseover="this.title=''"></i></a>
                    </div>
					<div class="text-center">
						<p class="text-center txt-center subtitle only-print m-0"><span data-string="email_addr">******</span><small>@</small>jorgebruned.com</p>
					</div>
                    <div class="text-center mt-5 small no-print">
                        <!-- As per the license, you may NOT remove this attribution link -->
                        <p class="small text-muted mb-0">Developed by <a href="https://jorgebruned.com/">Jorge Bruned</a></p>
                    </div>
                </div>
            </section>
        </div>
        <a class="btn hidden-right mibg icon-btn" href="#top" id="btn-scroll-top"><i class="icon-up"></i></a>
    </main>

    <!-- PRINT MODAL -->
    <div class="modal fade" id="pdf-modal" tabindex="-1" aria-labelledby="pdf-modal-title" aria-hidden="true">
        <div class="modal-dialog modal-fullscreen-md-down modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <p class="modal-title" id="pdf-modal-title" data-string="pdf_modal_title">Descargar como PDF</p>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body text-center p-4">
                    <p data-string="pdf_modal_text">
                        Si quieres, puedes descargar una versión en PDF optimizada para imprimir haciendo clic en el siguiente enlace. No obstante, te recomiendo visitar esta página web, donde siempre encontrarás la versión más actualizada, ¡e interactiva!
                    </p>
                    <a target="_blank" class="btn btn-upper mibg text-white mt-3 mb-1"><i class="me-2 icon-download"></i><span data-string="pdf_modal_title">Descargar como PDF</span></a>
                </div>
            </div>
        </div>
    </div>

</body>
<!-- JavaScript -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha256-fh8VA992XMpeCZiRuU4xii75UIG6KvHrbUF8yIS/2/4=" crossorigin="anonymous"></script>
<script src="https://unpkg.com/isotope-layout@3.0.6/dist/isotope.pkgd.min.js"></script>
<script src="/assets/script.js?{{ hashes.script|default('') }}" type="module"></script>
<script async src="https://www.googletagmanager.com/gtag/js?id=G-YFLJZ0T7Z4"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-YFLJZ0T7Z4');
</script>
</html>